---
import Layout from "@layouts/Layout.astro";
import Game, { GameType } from "@components/Game.astro";
import { getCollection } from "astro:content";

const platforms = await getCollection("games");

const steam = await getCollection("steam");

steam.sort((a, b) => b.data.playtime - a.data.playtime);
---

<Layout>
  <div>
    <details>
      <summary>Steam ({steam.length})</summary>
      <ul class="grid grid-cols-3 gap-4">
        {
          steam.map((game) => (
            <li class="space-between flex flex-col items-center rounded-lg p-8">
              <a href={`/games/steam/${game.data.slug}`}>
                <img
                  src={game.data.box_art ?? game.data.header_art}
                  alt="Game box art"
                  width={600}
                  height={900}
                />
                <p class="text-blue-600">{game.data.title}</p>
								<span>{(game.data.playtime /60).toFixed(1)} hours</span>
              </a>
            </li>
          ))
        }
      </ul>
    </details>

    {
      platforms.map((platform) => (
        <details>
          <summary>
            {platform.data.name} ({platform.data.games.length})
          </summary>
          <ul class="grid grid-cols-3 gap-4">
            {platform.data.games.map((game) => (
              <Game name={game.name} type={platform.id} />
            ))}
          </ul>
        </details>
      ))
    }
  </div>
</Layout>
