---
import Nav from "@components/music/top/Nav.astro";
import Site from "@layouts/Site.astro";
import { Image } from "astro:assets";

import { getSpotifyTop } from "@services/spotify";

const artists = await getSpotifyTop("artists");
---

<Site title="Top artists" description="My top artists" transition="none">
  <Nav selected="artists"/>
  <div transition:animate="fade">
    <ul class="grid md:grid-cols-4 grid-cols-2 lg:grid-cols-6 gap-4 px-2">
      {
        artists?.items.map((artist) => (
          <li>
            <a href={artist.external_urls.spotify}>
              {artist.images[0] != null && (
                <Image
                  class="rounded"
                  src={artist.images[0].url}
                  width={artist.images[0].width}
                  height={artist.images[0].height}
                  alt={`Artist cover for ${artist.name}`}
                />
              )}
              <p>{artist.name}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Site>
